build/
out/
bin/
obj/
.vscode/
.idea/
cmake-build-*/
*.user
*.suo
*.vcxproj*
*.vcproj*
*.ninja
CMakeCache.txt
CMakeFiles/
Makefile
compile_commands.json
*.o
*.obj
*.exe
*.pdb
*.ilk
*.a
*.lib
*.so
*.dll
*.dylib
